<!--
  Generated template for the Feed page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>feed</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div *ngFor="let item of Item" >
<h2>
   {{item.category}}
</h2>
<div *ngFor="let feed of item.feed" >
  <button ion-button full outline (click)='stuff(feed.link)'>
    {{feed.title}}
  </button>
</div>

</div>
</ion-content>
